/* announcement bar */
.body{
  font-family: "Poppins", sans-serif;
}
*{
  font-family: "Poppins"
}
.ann_bar {
      width: 100%;
      height: 60px;
      background-color: #0C2A46;
      position: sticky;
      
      
      
      
    }

.ann_container{
  width: 1110px;
  
display: flex;
justify-content: space-between;
}
/* announcement bar dropdown */
.dropdown_wrapper {
  position: relative;
  display: inline-block;
}

.btn-dropdown {
position: relative;
overflow: hidden;
z-index: 1;
  border-radius: 0px;
  font-size: 15px;
  min-height: 60px;
  font-weight: 600;
  background-color: #B41C39;
  text-transform: uppercase;
  font-family: "Poppins";
  padding-left: 16px;
  padding-right: 16px;
  width: 260px;
  color: white;
  display: flex;
  gap: 40px;
  align-items: center;
  border: 2px solid #B41C39;
  cursor: pointer;
  border-bottom: none;
}
.btn-dropdown::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
  z-index: -1;
  
}

    .btn-dropdown:hover::after {
      transform: scaleX(1);
    }

.btn-dropdown:hover{
    color: #B41C39
}
    
.submenu {
  display: none;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style: none;
  min-width: 260px;
  border: 2px solid #B41C39;
  z-index: 999;
  padding: 0px;
  border-bottom: 0px;
}

.submenu li a {
  display: block;
  
  font-weight: 600;
  font-size: 16px;
  
  line-height: 21px;
  color: black;
  text-decoration: none;
  

}
.submenu li{
border-bottom: 2px solid #B41C39;
min-height: 45px;
}
.submenu li input{
  

  font-size: 16px;
  height: 35px;
  line-height: 21px;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
  outline: none;
}
.submenu li input::placeholder{
  color: black;
  font-size: 13px;
  font-weight: 600;
  padding-left: 10px;
}
.submenu li:hover {
  background-color: #B41C39;
  
}
.submenu .search_zip:hover{
  background-color: white;
}
.submenu li:hover a{
  color: white;
}

/* ✅ This is the correct and clean way to show submenu */
.dropdown_wrapper:hover .submenu {
  display: block;
}

.dropdown_wrapper:hover .chevron-icon {
  transform: rotate(180deg);
  transition: transform 0s ease;
}
.chevron-submenu {
  color: black;
  transition: color 0s ease;
  transform: rotate(270deg);
}

.submenu li a:hover .chevron-submenu {
  color: white;
}


/* announcement bar review section */
.ann_review .star_icon{
  color:#E8B835;
  font-size: 16px;
  font-weight: 900;
}

.review_link .review_chevron{
  transform: rotate(270deg);
}
.review_link a{
 text-decoration: none; 
  font-size: 15px;
  font-weight: 400;
  color: white;

}
.review_link a:hover{
  text-decoration: underline;
  

}
/* announcement bar buttons */
.ann_btn{
  
  padding: 0px;
  margin: 0px;
}

.primary_btn{
  position: relative;
  height: 60px;
  background-color: white;
  color: #B41C39;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #B41C39;
  z-index: 10;
}
.primary_btn::after{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #B41C39;
  transform: scaleX(0);
  content: "";
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 0.3s ease-out;
  z-index: -1;
}
.primary_btn:hover::after{
  transform: scaleX(1);
}
.primary_btn:hover{
  color: white;
}

.secondary_btn{
  position: relative;
  height: 60px;
  border: 0px;
  background-color: #80CAC5;
  color: #0C2A46;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  z-index: 10;
}
.secondary_btn::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: white;
  border: 2px solid #80CAC5;
  z-index: -1;
  transition: transform 0.3s ease-out;

}
.secondary_btn:hover::after{
  transform: scaleX(1);
}

/* nav bar  */
.nav_bar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_box{
  width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img{
  width: 345px;
height: 115px;
flex-shrink: 0;
 

}
.call_icon{
  font-size: 24px;
  font-weight: 900;
  color: #18506D;
  padding-right: 10px;
}
.call_to_action{
  font-size: 24px;
  font-weight: 500;
  color: black;
  padding-right: 15px;
}
.call_to_action a{
  text-decoration: none;
  color: black;
}
.call_to_action a:hover{
  color: #18506D;
}
.schedule_btn{
  position: relative;
  padding: 10px 25px;
  font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 23px;
  height: 50px;
  background-color: #B41C39;
  color: white;
  text-transform: uppercase;
  border: none;
  z-index: 10;
  border: 2px solid #B41C39;
}

.schedule_btn::after{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  transform: scaleX(0);
  content: "";
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 0.4s ease-out;
  z-index: -1;
}
.schedule_btn:hover::after{
  transform: scaleX(1);
}
.schedule_btn:hover{
  color: #B41C39;
  border: 2px solid #B41C39;
}
.schedular_btn i{
  padding-right: 10px;
}
/* Menu bar */


.menu_bar{
  background-color: rgba(128, 202, 197, 0.20);
  height: 60px;
}
.menu_box{
  
  height: 60px;
  width: 1110px;
  
}
.nav_link{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 18px;
  padding-top: 18px;
  
}
.menu_chevron{
  width: 11px;
  font-size: 12px;
  font-weight: 400;
}

.nav_link:hover .chevron-icon {
  transform: rotate(180deg);
  transition: transform 0s ease;
}


