/* announcement bar */
.body{
  font-family: "Poppins", sans-serif;
}
*{
  font-family: "Poppins"
}
header{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000000000000;
  background-color: white;

}
.ann_bar {
      width: 100%;
      height: 60px;
      background-color: #0C2A46;
      
      z-index: 1000000000;
      
      
      
      
    }

.ann_container{
  width: 1110px;
  
display: flex;
justify-content: space-between;
}
/* announcement bar dropdown */
.dropdown_wrapper {
  position: relative;
  display: inline-block;
}

.btn-dropdown {
position: relative;
overflow: hidden;
z-index: 1;
  border-radius: 0px;
  font-size: 15px;
  min-height: 60px;
  font-weight: 600;
  background-color: #B41C39;
  text-transform: uppercase;
  font-family: "Poppins";
  padding-left: 16px;
  padding-right: 16px;
  width: 260px;
  color: white;
  display: flex;
  gap: 40px;
  align-items: center;
  border: 2px solid #B41C39;
  cursor: pointer;
  border-bottom: none;
}
.btn-dropdown::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
  z-index: -1;
  
}

    .btn-dropdown:hover::after {
      transform: scaleX(1);
    }

.btn-dropdown:hover{
    color: #B41C39
}
    
.submenu {
  display: none;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  list-style: none;
  min-width: 260px;
  border: 2px solid #B41C39;
  z-index: 999;
  padding: 0px;
  border-bottom: 0px;
}

.submenu li a {
  display: block;
  
  font-weight: 600;
  font-size: 16px;
  
  line-height: 21px;
  color: black;
  text-decoration: none;
  

}
.submenu li{
border-bottom: 2px solid #B41C39;
min-height: 45px;
}
.submenu li input{
  

  font-size: 16px;
  height: 35px;
  line-height: 21px;
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
  outline: none;
}
.submenu li input::placeholder{
  color: black;
  font-size: 13px;
  font-weight: 600;
  padding-left: 10px;
}
.submenu li:hover {
  background-color: #B41C39;
  
}
.submenu .search_zip:hover{
  background-color: white;
}
.submenu li:hover a{
  color: white;
}

/* ✅ This is the correct and clean way to show submenu */
.dropdown_wrapper:hover .submenu {
  display: block;
}

.dropdown_wrapper:hover .chevron-icon {
  transform: rotate(180deg);
  transition: transform 0s ease;
}
.chevron-submenu {
  color: black;
  transition: color 0s ease;
  transform: rotate(270deg);
}

.submenu li a:hover .chevron-submenu {
  color: white;
}


/* announcement bar review section */
.ann_review .star_icon{
  color:#E8B835;
  font-size: 16px;
  font-weight: 900;
}

.review_link .review_chevron{
  transform: rotate(270deg);
}
.review_link a{
 text-decoration: none; 
  font-size: 15px;
  font-weight: 400;
  color: white;

}
.review_link a:hover{
  text-decoration: underline;
  

}
/* announcement bar buttons */
.ann_btn{
  
  padding: 0px;
  margin: 0px;
}

.primary_btn{
  position: relative;
  height: 60px;
  background-color: white;
  color: #B41C39;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #B41C39;
  z-index: 10;
}
.primary_btn::after{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #B41C39;
  transform: scaleX(0);
  content: "";
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 0.3s ease-out;
  z-index: -1;
}
.primary_btn:hover::after{
  transform: scaleX(1);
}
.primary_btn:hover{
  color: white;
}

.secondary_btn{
  position: relative;
  height: 60px;
  border: 0px;
  background-color: #80CAC5;
  color: #0C2A46;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  z-index: 10;
}
.secondary_btn::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: white;
  border: 2px solid #80CAC5;
  z-index: -1;
  transition: transform 0.3s ease-out;

}
.secondary_btn:hover::after{
  transform: scaleX(1);
}

/* nav bar  */
.nav_bar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.nav_box{
  width: 1110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img{
  width: 345px;
height: 115px;
flex-shrink: 0;
 

}
.call_icon{
  font-size: 24px;
  font-weight: 900;
  color: #18506D;
  padding-right: 10px;
}
.call_to_action{
  font-size: 24px;
  font-weight: 500;
  color: black;
  padding-right: 15px;
}
.call_to_action a{
  text-decoration: none;
  color: black;
}
.call_to_action a:hover{
  color: #18506D;
}
.schedule_btn{
  position: relative;
  padding: 10px 25px;
  font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 23px;
  height: 50px;
  background-color: #B41C39;
  color: white;
  text-transform: uppercase;
  border: none;
  z-index: 10;
  border: 2px solid #B41C39;
}

.schedule_btn::after{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: white;
  transform: scaleX(0);
  content: "";
  width: 100%;
  height: 100%;
  transform-origin: left;
  transition: transform 0.4s ease-out;
  z-index: -1;
}
.schedule_btn:hover::after{
  transform: scaleX(1);
}
.schedule_btn:hover{
  color: #B41C39;
  border: 2px solid #B41C39;
}
.schedular_btn i{
  padding-right: 10px;
}
/* Menu bar */


.menu_bar{
  background-color: rgba(128, 202, 197, 0.20);
  height: 60px;
  position: relative;
}
.menu_box{
  
  height: 60px;
  width: 1110px;
  
}
.nav_link{
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 18px;
  padding-top: 18px;
  cursor: pointer;
}
.menu_chevron{
  width: 11px;
  font-size: 12px;
  font-weight: 400;
}

.nav_link:hover .chevron-icon {
  transform: rotate(180deg);
  transition: transform 0s ease;
}

.rotated_btn{
  position: fixed;
  left: -60px;
  top: 265px;
  transform: rotate(270deg);
  height: 52px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  color: white;
  background-color: #B41C39;
  text-transform: uppercase;
 
}
.rotated_btn:hover{
  background-color: #0C2A46;
  color: white;
}



/* element 4 */

.hero_section{
  background-image: url(assets/hero_banner.png);
  height: 700px;
  display: flex;
  justify-content: center;
  position: relative;
}
.hero_box{
  width: 1110px;
  height: 540px;
  background-color: transparent;
  padding: 32px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.hero_heading h1{
  font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 112% */
text-transform: capitalize;
color: #0C2A46;
}
.hero_heading h2{
  font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: 35px; /* 116.667% */
text-transform: uppercase;
color: #0C2A46;
}
.mobile_form{
  padding: 25px 30px;
  width: 376px;
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  justify-content: end;
  gap: 12px;
  
}
.mobile_form h3{
  color: #18506D;
  font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 33px; /* 117.857% */
text-transform: capitalize;
}
.mobile_form_dd{
  width: 296px;
  height: 40px;
  border: 2px solid black;
  border-radius: 0px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: start;
  
  padding: 5px 10px;
  font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 18px; 
}
.mobile_form_dd:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
}
.mobile_form_dd,
  .mobile_form_dd:focus,
  .mobile_form_dd:active,
  .mobile_form_dd.show,
  .dropdown-toggle:focus,
  .dropdown-toggle:active,
  .dropdown-toggle.show {
  background-color: white;
  color: black;
  border: 2px solid black;
}
.dropdown-menu{
  width: 296px;
  padding: 5px 10px;
  border-radius: 0px;
  border: 2px solid black;
  padding: 0;

}
.dropdown-item{
    font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 138.462% */
text-transform: uppercase;
color: black;
}
.dropdown-item:active{
  background-color: white;
  color: black;
}
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary.show{
  background-color: white;
  color: black;
}
.dropdown:active{
  background-color: white;
  color: black;
}

.mobile_form_dd.show .chevron-icon {
  transform: rotate(180deg);
  transition: transform 0s ease;
}
.mobile_form h2{
  font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 300;
line-height: 29px; /* 120.833% */
text-transform: capitalize;
}
.mobile_form h1{
  font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 100% */
text-transform: capitalize;
color: #18506D;
}
.mobile_form h4{
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: 33px; /* 117.857% */
text-transform: capitalize;
color: black;
}
.mobile_form p{
  font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 17px; 
text-align: center;
}
.mobile_form_button{
  width: 100%;
  font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 23px; /* 127.778% */
text-transform: uppercase;
}
.home_banner_form{
  position: absolute;
  bottom: -280px;
  width: 1050px;
  height: 345px;
  background-color: white;
  padding: 24px 30px;
}
.banner_form{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 16px;
  row-gap: 24px;
  margin-top: 24px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.banner_form input{
  display: flex;
  height: 50px;
  padding: 5px 10px;
  justify-content: center;
align-items: flex-start;
border: 2px solid black;
border-radius: 0;

}
.form_dd{
  height: 50px;
  width: 100%;
}
.option_dd{
  width: 319.33px;
}
.banner_form input::placeholder{
  font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 138.462% */
text-transform: uppercase;
color: black;
}
.home_banner_form h3{
  text-align: center;
  font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 33px; /* 117.857% */
text-transform: capitalize;
color: #18506D;
}
.sign_me_text{
  font-size: 14px;
font-style: normal;
font-weight: 400;
color: black;
line-height: 28px;
text-align: center;
padding-top: 24px;
}
.sign_short_text{
 text-align: center;
color: black;
font-family: Poppins;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 730px;
margin: 0;
}
.form_para{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner_button{
 height: 50px;
 display: flex;
 min-width: 250px;


align-items: center;
justify-content: center;

 padding: 25px 10px;
}
.services{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 393px;
  margin-bottom: 80px;
  background-color: white;
}
.service_block{
  display: flex;
width: 1110px;
height: 245px;
justify-content: center;
align-items: center;
gap: 30px;

background-color: white;
}
.services_box{
  width: 255px;
  height: 215px;
  color: var(--Solids-Quaternary, #0C2A46);
text-align: center;
/* Desktop/H7 */
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
text-transform: uppercase;
  background-color: white;
}
.services_box img{
  object-fit: cover;
  height: 215px;
  width: 255px;
}
.s_name{
  display: flex;
width: 229px;
height: 60px;
padding: 12px 8px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
border-top: 4px solid var(--Solids-Tertiary, #80CAC5);
background: #FFF;
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
cursor: pointer;
}
.s_name:hover{
  border-top: 4px solid var(--Solids-Tertiary, #80CAC5);
background: var(--Solids-Tertiary, #80CAC5);
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.box_1{
  position: relative;
}
.service_name_1{
  position: absolute;
  bottom: -50px;
  left: 13px;
}
.box_2{
  position: relative;
}
.service_name_2{
  position: absolute;
  bottom: -50px;
  left: 13px;
}
.box_3{
  position: relative;
}
.service_name_3{
  position: absolute;
  bottom: -50px;
  left: 13px;
}
.box_4{
  position: relative;
}
.service_name_4{
  position: absolute;
  bottom: -50px;
  left: 13px;
}
.banner_1_container{
  display: flex;
height: 478px;
padding: 80px 0px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 65px;
align-self: stretch;
background-image: url(assets/banner_1.jpg);
background-size: cover;
position: relative;


}
.banner_content{
  display: flex;
  position: absolute;
  bottom: -130px;
  width: 1110px;
  height: 323px;
  padding: 40px;
padding: 40px;
align-items: center;
gap: 20px;
background: var(--Neutral-White, #FFF);
box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.10);
}
.col_1{
  display: flex;
width: 398px;
flex-direction: column;
justify-content: center;
align-items: flex-start;

flex-shrink: 0;
}
.col_1 h5{
  color: var(--Solids-Secondary, #18506D);
text-align: center;
/* Desktop/H5 */
font-family: Poppins;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 37px; /* 132.143% */
text-transform: uppercase;
padding: 0;
margin: 0;

}
.col_1 h4{
  color: var(--Neutral-Black, #000);
/* Desktop/H4 */
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 41px; /* 113.889% */
text-transform: capitalize;
padding-bottom: 24px;


}
.banner_1_button{
  display: flex;
height: 50px;
min-width: 250px;
padding: 10px 25px;
justify-content: center;
align-items: center;
gap: 10px;
border: 2px solid var(--Solids-Primary, #B41C39);
background: var(--Neutral-White, #FFF);
width: 200px;
padding: 10px 25px;
color: var(--Solids-Primary, #B41C39);
/* Global/Buttons */
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 23px; /* 127.778% */
text-transform: uppercase;
}
.banner_1_button:hover{
  border: 2px solid var(--Solids-Secondary, #18506D);
background: var(--Neutral-White, #FFF);
color: #18506D;
}
.col_2, .col_3{
  height: 243px;
  width: 335px;
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;

}
.grid_items{
  display: flex;
align-items: center;

gap: 25px;
}
.icon{
  display: flex;
width: 60px;
height: 60px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
color: var(--Solids-Tertiary, #80CAC5);
text-align: center;
font-family: "Font Awesome 6 Pro";
font-size: 35px;
font-style: normal;
font-weight: 900;
line-height: 25px; /* 71.429% */
text-transform: uppercase;
}

.grid_items .content{
  align-items: center;
  color: var(--Neutral-Black, #000);
/* Desktop/H7 */
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 25px; /* 138.889% */
text-transform: uppercase;
}